<!DOCTYPE html>
<html lang="en">
<head>
<title>Emilio Jimenez</title>
<meta charset="utf-8">
<meta name="viewport"
content="width=device-width, initial-scale=1.0">
<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>
<body >
<div id="wrapper">
<header >
<h1>Emilio Jimenez</h1>
<span>Software Engineer</span>
</header>
<nav>

</nav>
<main>
<div id="intro"></div>
<h2>Armbar Detail page</h2>
<p>Here we'll list all the steps to break arms.
</p>



</main>

</div>
</body>
</html>