<!DOCTYPE html>
<html lang="en">
<head>
<title>JITZ DB</title>
<meta charset="utf-8">
<meta name="viewport"
content="width=device-width, initial-scale=1.0">
<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>
<body >
<div id="wrapper">
<header >
<h1>JitZ DB</h1>
<span>The BJJ Database</span>
</header>
<nav>

</nav>
<main>
<div id="intro"></div>
{% for detail in details %}
<h2>detail.title</h2>
<ol>
    <li>Grab arm</li>
    <li>Exctend </li>
    <li>Break! </li>
</ol>
{% endfor %}


</main>

</div>
</body>
</html>