<!DOCTYPE html>
<html lang="en">
<head>
<title>JITZ DB</title>
<meta charset="utf-8">
<meta name="viewport"
content="width=device-width, initial-scale=1.0">
<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>
<body>
<div id="wrapper">
<header>
<h1>JitZ DB</h1>
<span>The BJJ Database</span>
</header>

<main>
<div id="intro"></div>
<h2><i>Recently Added</i></h2>



<div class="card">
  <h2>Armbar</h2>
  <h5>A step-by-step guide on how to break an arm!</h5>
  <i><h6>07/25/2022</h6></i>
  <a href="#">Read</a>
</div>



</main>

</div>
</body>
</html>