<!DOCTYPE html>
<html lang="en">
<head>
<title>JITZ DB</title>
<meta charset="utf-8">
<meta name="viewport"
content="width=device-width, initial-scale=1.0">
<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>
<body>
<div id="wrapper">
<header>
<h1>JitZ DB</h1>
<span>The BJJ Database</span>
</header>

<main>
<div id="intro"></div>
<h2><i>Recently Added</i></h2>


{% for post in posts %}
<div class="card">
  <h2>{{post.title}}</h2>
  <h5>{{post.description}}</h5>
  <h6>{{post.category}}</h6>
  <i><h6>{{post.post_date}}</h6></i>
  <a href="{{ url_for('detail', postId=post.id) }}">View</a>
</div>
{% endfor %}


</main>

</div>
</body>
</html>